{% extends 'base.html' %}


{% block content %}
  <div class="main-content position-relative max-height-vh-100 h-100">

    <!-- Navbar -->
    {% include 'partiel/navbar.html' %}
    <!-- End Navbar -->

    <div class="container-fluid py-4">
      <div class="row justify-content-center"> <!-- Ajouter la classe justify-content-center pour centrer le contenu -->
        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Ajouter un Profile</p>
<!--                <button class="btn btn-primary btn-sm ms-auto">Settings</button>-->
              </div>
            </div>
            <div class="card-body">

              {% if error %}

              <div class="alert alert-warning" role="alert">
                {{ message }}
              </div>

              {% endif %}

              <form role="form" action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Nom" aria-label="Nom" name="nom" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Prénom" aria-label="Prénom" name="prenom" required>
                </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Genre" name="genre" required>
                        <option selected disabled>Sélectionner le genre</option>
                        <option value="masculin">Masculin</option>
                        <option value="feminin">Féminin</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Rôle" name="role" required>
                        <option selected disabled>Sélectionner le rôle</option>
                        <option value="gestionnaire">Gestionnaire</option>
                        <option value="gerant">Gérant</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="username" aria-label="username" name="username" required>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Enregistrer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}