{% extends 'base.html' %}

{% block content %}
<main class="main-content position-relative border-radius-lg">
    <!-- Navbar -->
    {% include 'partiel/navbar.html' %}
    <!-- Fin Navbar -->

    <!-- Catégorie produit -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Catégorie</h6>
                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajouter_categorie' %}">Ajouter</a>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for categorie in categorie_page %}
                                    <tr>
                                        <td>{{ categorie.id_categorie }}</td>
                                        <td>{{ categorie.nom_categorie }}</td>
                                        <td class="align-middle text-center">
                                            <a class="btn btn-sm btn-success" href="{% url 'modifier_categorie' categorie.id_categorie %}">Modifier</a>
                                            <a class="btn btn-sm btn-danger" href="{% url 'supprimer_categorie' categorie.id_categorie %}">Supprimer</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Pagination des catégories -->
                            <div class="pagination">
                                {% if categorie_page.has_previous %}
                                    <a href="?categorie_page={{ categorie_page.previous_page_number }}">Précédent</a>
                                {% endif %}
                                Page {{ categorie_page.number }} sur {{ categorie_page.paginator.num_pages }}
                                {% if categorie_page.has_next %}
                                    <a href="?categorie_page={{ categorie_page.next_page_number }}">Suivant</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Produit -->
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Produit</h6>
                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajouter_produit' %}">Ajouter</a>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom</th>
                                        <th>Prix</th>
                                        <th>Stock</th>
                                        <th>Fournisseur</th>
                                        <th>Catégorie</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for produit in produit_page %}
                                    <tr>
                                        <td>{{ produit.id_produit }}</td>
                                        <td>{{ produit.nom }}</td>
                                        <td>{{ produit.prix }}</td>
                                        <td>{{ produit.stock }}</td>
                                        <td>{{ produit.id_fournisseur }}</td>
                                        <td>{{ produit.id_categorie.nom_categorie }}</td>
                                        <td class="align-middle text-center">
                                            <a class="btn btn-sm btn-success" href="{% url 'modifier_produit' produit.id_produit %}">Modifier</a>
                                            <a class="btn btn-sm btn-danger" href="{% url 'supprimer_produit' produit.id_produit %}">Supprimer</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Pagination des produits -->
                            <div class="pagination">
                                {% if produit_page.has_previous %}
                                    <a href="?produit_page={{ produit_page.previous_page_number }}">Précédent</a>
                                {% endif %}
                                Page {{ produit_page.number }} sur {{ produit_page.paginator.num_pages }}
                                {% if produit_page.has_next %}
                                    <a href="?produit_page={{ produit_page.next_page_number }}">Suivant</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
