{% extends 'base.html' %}

{% block content %}
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    {% include 'partiel/navbar.html' %}
    <!-- Fin Navbar -->

    <div class="container-fluid py-4">

        <!-- Table des clients -->
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Client</h6> <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajouter_client' %}">Ajouter</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <!-- Titres de colonnes -->
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Adresse</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                {% if request.user.role == 'admin' %}
                                <th class="align-middle text-center">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Afficher les clients de la page actuelle -->
                            {% for client in client_page %}
                            <tr>
                                <td>{{ client.id_client }}</td>
                                <td>{{ client.nom }}</td>
                                <td>{{ client.prenom }}</td>
                                <td>{{ client.adresse }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.telephone }}</td>
                                <td class="align-middle text-center">
                                    {% if request.user.role == 'admin' %}
                                    <a class="btn btn-sm btn-success" href="{% url 'modifier_client' client.id_client %}">Modifier</a>
                                    <a class="btn btn-sm btn-danger" href="{% url 'supprimer_client' client.id_client %}">Supprimer</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Pagination des clients -->
                    <div>
                        {% if client_page.has_previous %}
                        <a href="?client_page={{ client_page.previous_page_number }}">Précédent</a>
                        {% endif %}
                        <span>Page {{ client_page.number }} sur {{ client_page.paginator.num_pages }}</span>
                        {% if client_page.has_next %}
                        <a href="?client_page={{ client_page.next_page_number }}">Suivant</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <!-- Table des ventes -->
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Vente</h6>
                <div>
                    <!-- Liens pour choisir le tri des ventes -->
                    <a href="?sort_by=date_vente&order=asc" class="btn btn-sm btn-outline-primary">Trier par date (croissant)</a>
                    <a href="?sort_by=date_vente&order=desc" class="btn btn-sm btn-outline-primary">Trier par date (décroissant)</a>
                    <a href="?sort_by=id_client&order=asc" class="btn btn-sm btn-outline-primary">Trier par client (croissant)</a>
                    <a href="?sort_by=id_client&order=desc" class="btn btn-sm btn-outline-primary">Trier par client (décroissant)</a>
                    <a href="?sort_by=id_produit&order=asc" class="btn btn-sm btn-outline-primary">Trier par produit (croissant)</a>
                    <a href="?sort_by=id_produit&order=desc" class="btn btn-sm btn-outline-primary">Trier par produit (décroissant)</a>
                    <a href="?sort_by=prix_unitaire&order=asc" class="btn btn-sm btn-outline-primary">Trier par prix unitaire (croissant)</a>
                    <a href="?sort_by=prix_unitaire&order=desc" class="btn btn-sm btn-outline-primary">Trier par prix unitaire (décroissant)</a>
                </div>
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajouter_vente' %}">Effectuer</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <!-- Titres de colonnes -->
                                <th class="align-middle text-center">ID</th>
                                <th class="align-middle text-center">Client</th>
<!--                                <th>Gerant</th>-->
                                <th class="align-middle text-center">Produit</th>
                                <th class="align-middle text-center">Quantite</th>
                                <th class="align-middle text-center">Prix</th>
                                <th class="align-middle text-center">Montant total</th>
                                <th class="align-middle text-center">Date</th>
                                {% if request.user.role == 'admin' %}
                                <th class="align-middle text-center">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Afficher les ventes de la page actuelle -->
                            {% for vente in vente_page %}
                            <tr>
                                <td class="align-middle text-center">{{ vente.id_vente }}</td>
                                <td class="align-middle text-center">{{ vente.id_client.nom }}</td>

                                <td class="align-middle text-center">{{ vente.id_produit.nom }}</td>
                                <td class="align-middle text-center">{{ vente.quantite }}</td>
                                <td class="align-middle text-center">{{ vente.prix_unitaire }}</td>
                                <td class="align-middle text-center">{{ vente.montant_total }}</td>
                                <td class="align-middle text-center">{{ vente.date_vente }}</td>
                                <td class="align-middle text-center">
                                    {% if request.user.role == 'admin' %}
                                    <a class="btn btn-sm btn-success" href="{% url 'modifier_vente' vente.id_vente %}">Modifier</a>
                                    <a class="btn btn-sm btn-danger" href="{% url 'supprimer_vente' vente.id_vente %}">Supprimer</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Pagination des ventes -->
                    <div>
                        {% if vente_page.has_previous %}
                        <a href="?vente_page={{ vente_page.previous_page_number }}">Précédent</a>
                        {% endif %}
                        <span>Page {{ vente_page.number }} sur {{ vente_page.paginator.num_pages }}</span>
                        {% if vente_page.has_next %}
                        <a href="?vente_page={{ vente_page.next_page_number }}">Suivant</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}
