{% extends 'base.html' %}


{% block content %}

<main class="main-content position-relative border-radius-lg">
    <!-- Navbar -->
    {% include 'partiel/navbar.html' %}
    <!-- Fin Navbar -->


    <div class="container-fluid py-4">
        <!-- Admin -->
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Admin</h6>
<!--                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajouter_categorie' %}">Ajouter</a>-->
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th>n°</th>
                                        <th>Nom et prenom</th>
                                        <th>Poste</th>
                                        <th>Genre</th>
                                        <th>date d'inscription </th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for admins in admin_page %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ admins.last_name }} {{admins.first_name}}</td>
                                        <td>{{ admins.role }}</td>
                                        <td>{{ admins.gender }}</td>
                                        <td>{{ admins.date_joined }}</td>
                                        <td class="align-middle text-center">
<!--                                            <a class="btn btn-sm btn-success" href="#">Modifier</a>-->
<!--                                            <a class="btn btn-sm btn-danger" href="#">Supprimer</a>-->
                                            {% if admins.is_active %}
                                            <a class="btn btn-sm btn-danger" href="{% url 'desactiver_utilisateur' admins.id %}">Désactiver</a>
                                            {% else%}
                                            <a class="btn btn-sm btn-success" href="{% url 'activer_utilisateur' admins.id %}">activer</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Pagination des admins -->
                            <div class="pagination">
                                {% if admin_page.has_previous %}
                                    <a href="?admin_page={{ admin_page.previous_page_number }}">Précédent</a>
                                {% endif %}
                                Page {{ admin_page.number }} sur {{ admin_page.paginator.num_pages }}
                                {% if admin_page.has_next %}
                                    <a href="?admin_page={{ admin_page.next_page_number }}">Suivant</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gestionnaire -->
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Gestionnaire</h6>
<!--                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajouter_produit' %}">Ajouter</a>-->
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr>
                                        <th>n°</th>
                                        <th>Nom et prenom</th>
                                        <th>Poste</th>
                                        <th>Genre</th>
                                        <th>date d'inscription </th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for gestion in gestionnaire_page %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ gestion.last_name }} {{gestion.first_name}}</td>
                                        <td>{{ gestion.role }}</td>
                                        <td>{{ gestion.gender }}</td>
                                        <td>{{ gestion.date_joined }}</td>
                                        <td class="align-middle text-center">
<!--                                            <a class="btn btn-sm btn-success" href="#">Modifier</a>-->
<!--                                            <a class="btn btn-sm btn-danger" href="#">Supprimer</a>-->
                                            {% if gestion.is_active %}
                                            <a class="btn btn-sm btn-danger" href="{% url 'desactiver_utilisateur' gestion.id %}">Désactiver</a>
                                            {% else%}
                                            <a class="btn btn-sm btn-success" href="{% url 'activer_utilisateur' gestion.id %}">activer</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Pagination des gestionnaires -->
                            <div class="pagination">
                                {% if gestionnaire_page.has_previous %}
                                    <a href="?gestionnaire_page={{ gestionnaire_page.previous_page_number }}">Précédent</a>
                                {% endif %}
                                Page {{ gestionnaire_page.number }} sur {{ gestionnaire_page.paginator.num_pages }}
                                {% if gestionnaire_page.has_next %}
                                    <a href="?gestionnaire_page={{ gestionnaire_page.next_page_number }}">Suivant</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Gerant -->
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Gerant</h6>
<!--                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajouter_produit' %}">Ajouter</a>-->
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr>
                                        <th>n°</th>
                                        <th>Nom et prenom</th>
                                        <th>Poste</th>
                                        <th>Genre</th>
                                        <th>date d'inscription </th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for gerant in gerants_page %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ gerant.last_name }} {{gerant.first_name}}</td>
                                        <td>{{ gerant.role }}</td>
                                        <td>{{ gerant.gender }}</td>
                                        <td>{{ gerant.date_joined }}</td>
                                        <td class="align-middle text-center">
<!--                                            <a class="btn btn-sm btn-success" href="#">Modifier</a>-->
<!--                                            <a class="btn btn-sm btn-danger" href="#">Supprimer</a>-->
                                            {% if gerant.is_active %}
                                            <a class="btn btn-sm btn-danger" href="{% url 'desactiver_utilisateur' gerant.id %}">Désactiver</a>
                                            {% else%}
                                            <a class="btn btn-sm btn-success" href="{% url 'activer_utilisateur' gerant.id %}">activer</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Pagination des gerants -->
                            <div class="pagination">
                                {% if gerants_page.has_previous %}
                                    <a href="?gerants_page={{ gerants_page.previous_page_number }}">Précédent</a>
                                {% endif %}
                                Page {{ gerants_page.number }} sur {{ gerants_page.paginator.num_pages }}
                                {% if gerants_page.has_next %}
                                    <a href="?gerants_page={{ gerants_page.next_page_number }}">Suivant</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}